@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

:root {
  --bg-color-primary: #222222;

  --ui-color-primary: #3b3b3b;
  --ui-color-secondary: #282828;
  --ui-color-tertiary: #353434;
  --ui-color-quaternary: #3f3f3f;

  --navbar-color: #161616;
  --active: #7b04f9;

  --successful: #18cded;
  --unsuccessful: #d93a6f;
  --inactive: #5f5f5f;

  --heading-color-1: #ebebeb;
  --paragraph-color-1: #bababa;

  --active-outline-thickness: 0.5vmin; /* default 0.5vmin */
  --global-border-radius: 1vmin; /* default 1vmin */

  --background-image: none;
  --background-image-blur: 0;

  --global-transition-time: 0.35s;
  --font: 'JetBrains Mono', sans-serif;
}

.main, body, html {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: 'Jetbrains Mono', sans-serif;
}
.sidebar {
  background: var(--ui-color-secondary);
  height: calc(100dvh - 12vmin);
  width: calc(20dvw - 12vmin);
  position: fixed;
  top: 1vmin;
  left: 1vmin;
  margin: 0;
  padding: 5vmin;
  border-radius: var(--global-border-radius);
  border: .2vmin solid var(--ui-color-primary);
  overflow-y: auto;
}
#preview {
  width: 75dvw;
  aspect-ratio: 16/9;
  background: var(--bg-color-primary);
  border-radius: var(--global-border-radius);
  filter: drop-shadow(0 0 1vmin var(--active));
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5dvw;
  max-height: 90dvh;
  max-width: 75dvw;
  z-index: 98;
  background-image: var(--background-image);
  backdrop-filter: blur(var(--background-image-blur));
  background-size: cover;
}
#navbar {
  height: 35px;
  width: 75dvw;
  background: var(--navbar-color);
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 99;
  border-top-left-radius: var(--global-border-radius);
  border-top-right-radius: var(--global-border-radius);
  backdrop-filter: blur(var(--background-image-blur));
}
#title {
  height: 15px;
  width: 20vmin;
  position: fixed;
  top: calc(35px/2);
  transform: translateY(-50%);
  left: 10px;
  background: var(--heading-color-1);
  border-radius: var(--global-border-radius);
  backdrop-filter: blur(var(--background-image-blur));
}
#close {
  height: 35px;
  aspect-ratio: 1/1;
  position: fixed;
  top: 0%;
  right: 0%;
  border-top-right-radius: var(--global-border-radius);
  background: var(--ui-color-primary);
  cursor: pointer;
  transition: var(--global-transition-time);
  backdrop-filter: blur(var(--background-image-blur));
}
#close:hover {
  background: var(--active);
}
#preview-sidebar {
  position: fixed;
  bottom: 0%;
  left: 0;
  padding: 5vmin;
  margin: 0;
  height: calc(100% - 35px - 10vmin);
  width: calc(30% - 10vmin);
  background: var(--ui-color-secondary);
  border-bottom-left-radius: var(--global-border-radius);
  backdrop-filter: blur(var(--background-image-blur));
}
#intro {
  height: 25px;
  width: 100%;
  background: var(--heading-color-1);
  border-radius: var(--global-border-radius);
  margin-bottom: 2.5vmin;
  backdrop-filter: blur(var(--background-image-blur));
}
#text1, #text2 {
  height: 15px;
  width: 100%;
  background: var(--paragraph-color-1);
  border-radius: var(--global-border-radius);
  margin-bottom: .5vmin;
  backdrop-filter: blur(var(--background-image-blur));
}
#text2 {
  width: 65%;
  margin-bottom: 3.5vmin;
}
#button {
  height: 5.5vmin;
  width: 100%;
  background-color: var(--ui-color-primary);
  backdrop-filter: blur(var(--background-image-blur));
  border: 0vmin solid var(--active);
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  color: var(--heading-color-1);
  cursor: pointer;
  transition: var(--global-transition-time);
  font-family: var(--font);
  backdrop-filter: blur(var(--background-image-blur));
}
#button:hover {
  background: var(--active);
  filter: drop-shadow(0 0 1vmin var(--active));
  transform: scale(105%);
}
#button:active {
  background: var(--ui-color);
  border-width: var(--active-outline-thickness);
  filter: drop-shadow(0 0 1vmin var(--active));
  transform: scale(105%);
  transition: 0.05s;
}
#item {
  height: 12dvh;
  width: calc(70% - 2vmin);
  background: var(--ui-color-tertiary);
  position: fixed;
  right: 1vmin;
  top: calc(1vmin + 35px);
  border-radius: var(--global-border-radius);
  backdrop-filter: blur(var(--background-image-blur));
}
#checkmark {
  height: 4vmin;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--ui-color-primary);
  position: fixed;
  left: 1vmin;
  top: 50%;
  transform: translateY(-50%);
  backdrop-filter: blur(var(--background-image-blur));
}
#itemtitle {
  height: 15px;
  width: 25%;
  background: var(--heading-color-1);
  border-radius: var(--global-border-radius);
  position: fixed;
  left: 6vmin;
  top: calc(45% - .5vmin);
  transform: translateY(-50%);
  backdrop-filter: blur(var(--background-image-blur));
}
#itemtext {
  height: 15px;
  width: 15%;
  background: var(--paragraph-color-1);
  border-radius: var(--global-border-radius);
  position: fixed;
  left: 6vmin;
  top: 50%;
  backdrop-filter: blur(var(--background-image-blur));
}
.colorinput {
  height: 2vmin;
  width: 2vmin;
  outline: none;
  border: none;
  border-radius: 50%;
  border-color: transparent;
  -webkit-appearance: none;
  padding: 0;
}
.colorinput::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorinput::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.sidebar span {
  font-size: 2vmin;
  color: var(--paragraph-color-1);
}
.input {
  height: 2.5vmin;
  width: 5vmin;
  display: inline;
  outline: none;
  border: none;
  background: var(--ui-color-primary);
  color: var(--paragraph-color-1);
  border-radius: var(--global-border-radius);
  font-family: var(--font);
}
.alphainput {
  -webkit-appearance: none;
  width: 10vmin;
  height:2vmin;
  border-radius: 5px;  
  background: var(--ui-color-primary);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.alphainput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5vmin;
  border-radius: var(--global-border-radius);
  aspect-ratio: 1/1;
  border: 0;
  background: var(--paragraph-color-1);
  cursor: pointer;
}
#exportButton {
  height: 5.5vmin;
  width: 35vmin;
  background-color: var(--ui-color-primary);
  backdrop-filter: blur(var(--background-image-blur));
  border: 0vmin solid var(--active);
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  color: var(--heading-color-1);
  cursor: pointer;
  transition: var(--global-transition-time);
  font-family: var(--font);
  backdrop-filter: blur(var(--background-image-blur));
  position: fixed;
  bottom: 1vmin;
  right: 1vmin;
}
#exportButton:hover {
  background: var(--active);
  filter: drop-shadow(0 0 1vmin var(--active));
  transform: scale(102%);
}
#exportButton:active {
  background: var(--ui-color);
  border-width: var(--active-outline-thickness);
  filter: drop-shadow(0 0 1vmin var(--active));
  transform: scale(105%);
  transition: 0.05s;
}